.telefonos {
    @include cardblock($grosor:3px, $radio:25px);
    &--small {
      a {
        color: map-get($colors, telefonos);
        &:hover {
                font-weight: 700;
                transition: all 0.2s;
        }
      }
    }
  }