  .fachada {
    width: 100%;
    height: 60vh;
    background-image: url("../images/hospi-frente.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    &__text {
      text-shadow: 0 0 1rem black;
      &--color {
        color: white;
  
      }
    }
  }

  .btn {
    &--tel {
      display: none;
    }
    &-turnos {
      @extend %btnfachada;
      background-color: rgb(114, 175, 245);
      
      &:hover {
          background-color: rgb(80, 141, 211);
          color: white;
          font-weight: 600
      }
    }
    &-contacto {
      @extend %btnfachada;
      background-color: map-get($colors, telefonos);
      &:hover {
        color: white;
        background-color: rgb(2, 123, 139);
        font-weight: 600;
      }
    }
  }

  .description {
    &__text {
      &--important {
      @include cardblock($grosor: 2px);
      }
    }
  }

