.turnos {
    &__card {
        @include cardblock;
        a {
            text-decoration: none;
            color: map-get($colors, telefonos);
            &:hover {
                transition: all 0.2s;
                font-size: 2rem;
                font-weight: 700;
            }
        }
    }
}