@import "variable";
@import "global";
@import "index";
@import "historia";
@import "servicios";
@import "turnos";
@import "contacto";


  @media (max-width: 768px) {
    .sm__text {
      display: block;
      background-color: black;
      color: rgb(228, 228, 228);
      transform: translateY(-24px);
    }
  }
  @media (min-width: 768px) {
    .btn--tel {
      display: inline-block;
    }
  }
  